# Ana dizin
node_modules/
build/
.env

# Frontend klasörü
frontend/node_modules/
frontend/build/
frontend/.env

# Backend klasörü
backend/node_modules/
backend/.env

# Diğer özel dosyalar veya dizinler

data/venv

notes.txt