body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
}

.navbar {
  background-color: #2196f3;
  padding: 10px 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* İstediğiniz boyutu ayarlayabilirsiniz */
}

.tabs {
  display: flex;
  flex-grow: 1;
  overflow-x: auto;
}

.tab-item {
  margin-right: 16px;
  color: white;
  text-decoration: none;
}

.tab-item.disabled {
  text-decoration: line-through;
}

.logout-button {
  color: white; /* White text color for better contrast */
  border: 2px solid #fff; /* White border */
  background-color: #f44336; /* Red background for prominence */
  padding: 10px 20px; /* More padding for a larger clickable area */
  margin-left: 16px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.logout-button:hover {
  background-color: #d32f2f; /* Darker red on hover */
  color: #fff; /* Ensure text remains white */
  border-color: #fff; /* Keep border color white */
}

.button {
  color: white; /* White text color for better contrast */
  border: 2px solid #2196f3; /* Primary color border */
  background-color: #2196f3; /* Primary color background */
  padding: 10px 20px; /* More padding for a larger clickable area */
  margin: 5px; /* Margin around the button */
  text-transform: uppercase; /* Uppercase text for uniformity */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  cursor: pointer; /* Pointer cursor to indicate clickability */
}

.button:hover {
  background-color: #1976d2; /* Darker primary color on hover */
  color: white; /* Ensure text remains white */
  border-color: #1976d2; /* Adjust border color to match background on hover */
}

.button:disabled {
  background-color: #bdbdbd; /* Grey background for disabled state */
  color: #757575; /* Darker grey text for disabled state */
  border-color: #bdbdbd; /* Match border color with background for disabled state */
  cursor: not-allowed; /* Indicate non-clickable state */
}

/* Responsive design */
@media (max-width: 768px) {
  .tabs {
    flex-direction: column;
  }
  
  .tab-item {
    margin-bottom: 10px;
  }

  .logout-button {
    margin-left: 0;
    margin-top: 10px;
  }
}
